{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового плана</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!-- jQuery UI -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- styles -->
    <link href="{% static 'css/dev/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/dev/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/vendors/form-helpers/css/bootstrap-formhelpers.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/vendors/select/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/vendors/tags/css/bootstrap-tags.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery-cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajaxFormSender.js' %}"></script>
</head>
<body>

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="#"></a></h1>
                </div>
            </div>

            <div class="col-md-2 pull-right">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu animated fadeInUp">
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 pull-left navigation">
    <div class="js-nav nav-0">
        <button class="form-control" value="1">Описание</button>
    </div>
    <div class="js-nav nav-1">
        <button class="form-control" value="1">1</button>
    </div>
    <div class="js-nav nav-2">
        <button class="form-control" value="2">2</button>
    </div>
    <div class="js-nav nav-3">
        <button class="form-control" value="3">3</button>
    </div>
    <div class="js-nav nav-4">
        <button class="form-control" value="4">4</button>
    </div>
    <div class="js-nav nav-5">
        <button class="form-control" value="5">5</button>
    </div>
    <div class="js-nav nav-6">
        <button class="form-control" value="6">6</button>
    </div>
    <div class="js-nav nav-7">
        <button class="form-control" value="7">7</button>
    </div>
    <div class="js-nav nav-8">
        <button class="form-control" value="8">8</button>
    </div>

</div>
<div class="col-md-10 pull-right" id="main-form">
    <div class="content-box-large">
        <form class="form-horizontal" enctype="multipart/form-data">
            <fieldset>
                <div class="block block-0">
                    <legend>Описание</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-2 control-label">Email</label>

                        <div class="col-md-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                </div>

                <div class="block block-1"></div>

                <div class="block block-2"></div>

                <div class="block block-3"></div>

                <div class="block block-4"></div>

                <div class="block block-5"></div>

                <div class="block block-6"></div>

                <div class="block block-7"></div>

                <div class="block block-8"></div>


    </div>
    </fieldset>
    </form>
</div>
</div>
</body>
</html>
