{% extends 'kpfu_plan_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/kpfu_plan/create.css' %}">{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-1 col-lg-offset-10">
            <a href="#" class="btn btn-large btn-success" data-toggle="modal" data-target="#addForm"><span
                    class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="subjects">
                <table class="table table-striped subjects_table">
                    <tr>
                        <th id="subject_name">Name</th>
                        <th colspan="2">Actions</th>
                    </tr>

                    {% if subjects %}
                        {% for i in subjects %}
                            <tr>
                                <td>
                                    <a href="{% url 'present' subject_id=i.id %}">{{ i.subject }}</a>
                                </td>
                                <td class="text-center">
                                    <a href="/min-edu/{{ i.id }}" class="btn btn-sm btn-info">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'present' subject_id=i.id %}" class="btn btn-sm btn-info">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="3"><h4 class="text-center">Пока еще нет ни одной дисциплины</h4></td></tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addForm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Добавление новой дисциплины</h4>
                </div>
                <form action="{% url 'subj_new' %}" method="post" class="form-inline">
                    <div class="modal-body">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="name">Название дисциплины: </label>
                            <input type="text" name="subject" class="form-control" id="name"
                                   placeholder="Название дисциплины">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#addForm').modal({
                show: false // not to show on initialize
            });
        })
    </script>
{% endblock %}

