{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>

    <title>{{ subject.subject }}</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="hidden-xs hidden-sm hidden-md col-lg-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" id="wrapper">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="header-content">
                    {{ subject.subject }}
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Цели освоения дисциплины:</h3>
                            <p>{{ min_edu.goals_disciplines }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>По итогам курса вы научитесь:</h3>
                            <ul>
                                {% for competence in competences %}
                                    <li>{{ competence.decryption }}</li>
                                {% endfor %}
                            </ul>

                            <h4>Необходимо уметь:</h4>
                            <ul>
                                {% for additional_competence in additional_competences %}
                                    <li>{{ additional_competence.decryption }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Темы:</h3>
                            <ul>
                                {%  for theme in themes %}
                                    <li>{{  theme.discipline }}</li>
                                {%  endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Литература:</h3>
                            <h4>Основная:</h4>
                            <p>{{ min_edu.main_literature }}</p>
                            <h4>Дополнительная:</h4>
                            <p>{{ min_edu.additional_literature }}</p>
                            <h4>Интернет ресурсы:</h4>
                            {% for internet_resource in internet_resources %}
                                <p>{{ internet_resources.name }} ({{ internet_resource.link }})</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>