body {
    margin: 0;
}

#bg-header {
    padding: 0;
    background: url("../image/header.png");
    border: 3px solid #000;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#header {
    padding: 0;
}

#logo {
    padding-top: 23px;
    padding-bottom: 23px;
}

#social {
    padding: 0;
}

#mail {
    background: url("../image/bg.png");
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    color: #fff;
    height: 40px;
    box-shadow: 0em 0.2em 2px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 0px 10px;
    text-align: center;
    font-weight: lighter;
}

#mail .fa-envelope-o {
    font-size: 20px;
    font-weight: bold;
}

#contact-form {
    padding: 0;
}

#group {
    height: 40px;
    padding: 0;
    box-shadow: 0em 0.2em 2px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 0px;
    padding-top: 2px;
}

#group img {
    position: relative;
    float: left;
    top: 4px;
    width: 40px;
}

@media screen and (max-width: 760px) {
    #group {
        border-radius: 0;
    }

    #mail {
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #logo img {
        width: 100%;
    }
}

@media screen and (min-width: 1600px) {
    #group {
        max-width: 160px;
    }

    #mail {
        max-width: 280px;
    }

    #header {
        padding-left: 30px;
    }

    #wrapper {
        padding-right: 60px;
        padding-left: 40px;
    }

}

.breadcrumb {
    margin-top: 10px;
    text-align: right;
    font-size: 10.5px;
    background: none;
    margin-bottom: 0;
}

.breadcrumb a {
    color: #a70000;
}

#menu-content {
    margin-top: 20px;
    padding: 0;
}

#all {
    padding: 0;
}

#header-content {
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.block-menu {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #ddd;
    border-top: 0;
    font-weight: bold;
    font-size: 13px;
    color: #6a6a6a;
    border-left: 0;
    border-right: 0;

}

#content {
    padding: 0;
    font-size: 12px;

}

#content HR {
    margin: 0;
    height: 1px;
    background: #000;
}

#text-header {
    font-size: 14px;
    margin: 0;
}

#red-header {
    background: url("../image/scholar_bar.png");
    text-align: right;
    padding-right: 30px;
    font-size: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    margin-bottom: 60px;
}

#red-header-left-block {
    float: left;
    font-weight: bold;
    margin-left:15px;
}
@media screen and (max-width: 760px) {
    #red-header {
        margin-bottom: 10px;
    }
}

#content ul{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
#content ul a{
    color: #ae0000;
    text-decoration: underline;
}
#content ul li{
    list-style-type: none;
}
#content .two-ul{
    padding-left: 30px;
}
#bottom-menu{
    text-align: right;
    padding-right: 30px;
    font-size: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #a70000;
    margin-bottom: 60px;
}