<tr class="js-main-row">
    <input type="hidden" class="js-main-row-id" value="1">
    <td>
        <input class="table-num form-control" type="number" value="1" disabled>
        <button class="form-control remove-row" type="button"><i
                class="glyphicon glyphicon-remove"></i></button>
        <button type="button" class="form-control additionally-info"><i
                class="glyphicon glyphicon-pencil"></i></button>
    </td>
    <td><textarea class="form-control table-discipline" name="discipline"
                  rows="4"></textarea></td>
    <td>
        <select class="form-control table-semester" name="semester">
            <option disabled selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
    </td>
    <td><input type="number" class="form-control table-week-semester"
               name="week_of_semester"></td>
    <td>0</td>
    <td><input type="number" class="form-control table-prac-les"
               name="practice"></td>
    <td>1</td>
    <td><input type="number" class="form-control table-self-work"
               name="self_work"></td>
    <td>
        <select class="form-control table-form-control" name="control_type">
            <option disabled selected></option>
            <option value="0">Домашнее задание
            </option>
            <option value="1">Контрольная работа
            </option>
            <option value="2">Домашняя и
                контрольная
                работа
            </option>
        </select>
    </td>
</tr>

<tr style="display: none;" class="js-additional-row">
    <input type="hidden" class="js-add-row-id" value="1">
    <td colspan="9">
        <div class="content">
            <div class="sec-cont">
                <label for="section-сontents" style="width: 30%;">Содержание раздела
                    <br>
                    Развернутое содержание раздела (темы) с указанием дидактических
                    единиц</label>
                                    <textarea name="content" class="section-сontents form-control"
                                              rows="5"></textarea>
            </div>
            <br>
            {% include 'min_obr/forms/point-4_add_blank.html' %}

        </div>
    </td>
</tr>