<legend>1. Цели освоения дисциплины</legend>
<div class="form-group is-empty">

    <div class="col-md-12">
        <textarea class="form-control p-goals" name="p-goals"
                  rows="5">{{ minEdu.goals_disciplines|default_if_none:"" }}</textarea>

        <label>*Вы можете так же добавить презентацию курса (не обязательное поле)
            <input type="file" name="goal-doc" class="form-control p-goals-doc"></label>
    </div>
</div>
