{% load utils %}
<legend>8. Материально-техническое обсепечение бисциплины(модуля)
</legend>
<div class="equipment">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="1" id="1" {{ supports|filter_by_id:'1 checked' }}>
            Мультимедиа аудитория
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="2" id="2" {{ supports|filter_by_id:'2 checked' }}>
            Компьютерный класс
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="3" id="3" {{ supports|filter_by_id:'3 checked' }}>
            Лингафонный кабинет
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="4" id="4" {{ supports|filter_by_id:'4 checked' }}>
            Электронная библиотечная система "БиблиоРоссика"
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="5" id="5" {{ supports|filter_by_id:'5 checked' }}>
            Электронная библиотечная система "ZNANIUM.COM"
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="6" id="6" {{ supports|filter_by_id:'6 checked' }}>
            Электронная библиотечная система Издательства "Лань"
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="7" value="7" {{ supports|filter_by_id:'7 checked' }}>
            Электронная библиотечная система "Консультант студента" (Учебники <br>для высшего
            медицинского и фармацевтического образования)
        </label>
    </div>
    <br>

    <div class="other">
        <label for="other-area">Прочее</label>
        <textarea name="other-area" class="form-control js-eight-other"
                  rows="5">{{ minEdu.eight_other|default_if_none:"" }}</textarea>
    </div>
</div>