{% load utils %}
<legend>3. Компетенции обучающегося, формулируемые в результате освоения дисциплины/модуля</legend>
<label for="form-group">Обязательная компетенция</label>

<div class="competence">
    <div class="mandatory-competence">
        {% for i in "12345" %}
            <div class="form-group is-empty">

                <label for="select-{{ i }}" class="col-md-2 control-label">Шифр компетенции</label>

                <div class="col-md-2">
                    <select id="select-{{ i }}" class="form-control">
                        <option {% find_selected competence i -1 'selected' %} disabled></option>
                        <option {% find_selected competence i 1 'selected' %} >1</option>
                        <option {% find_selected competence i 2 'selected' %} >2</option>
                        <option {% find_selected competence i 3 'selected' %} >3</option>
                        <option {% find_selected competence i 4 'selected' %} >4</option>
                        <option {% find_selected competence i 5 'selected' %} >5</option>
                    </select>

                </div>
                <label for="textarea-{{ i }}" class="col-md-2 control-label">Расшифровка приобретаемой
                    компетенции</label>


                <div class="col-md-6">
                    <textarea class="form-control" id="textarea-{{ i }}" rows="5">{% get_decryption competence i %}</textarea>
                </div>

            </div>
        {% endfor %}
    </div>
    <label for="form-group">Дополнительная компетенция</label>

    <div class="form-group is-empty">

        <label for="select-0" class="col-md-2 control-label">Шифр компетенции</label>

        <div class="col-md-2">
            <select id="select-0" class="form-control">
                <option {% find_selected competence 0 -1 'selected' %}>1</option>
                <option {% find_selected competence 0 1 'selected' %}>2</option>
                <option {% find_selected competence 0 2 'selected' %}>3</option>
                <option {% find_selected competence 0 3 'selected' %}>4</option>
                <option {% find_selected competence 0 4 'selected' %}>5</option>
            </select>

        </div>
        <label for="textarea-0" class="col-md-2 control-label">Расшифровка приобретаемой
            компетенции</label>

        <div class="col-md-6">
            <textarea class="form-control" id="textarea-0" rows="5">{% get_decryption competence 0 %}</textarea>
        </div>
    </div>
</div>
