<legend>6. Оценочные средства для текушего контроля успеваемости, промежуточный аттестации по итогам
    освоения дисциплины и учебно-методическое обеспечение самостоятельной работы студентов
</legend>
<div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="10px">#</th>
                <th>Тема</th>
                <th>Форма ктронтроля</th>
                <th>Детализация</th>
            </tr>
            </thead>
            <tbody>
            {% for i in rows %}
                {% if i.control_type == '2' %}
                    <tr>
                        <td rowspan="2">{{ forloop.counter }}</td>
                        <td rowspan="2" width="250px">{{ i.discipline }}</td>
                        <td>Домашнее задание</td>
                        <td>
                            <input type="hidden" class="js-six-id" value="{{ i.id }}-h">
                            <textarea class="form-control detail">{{ i.homework|default_if_none:"" }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Контрольная работа</td>
                        <td>
                            <input type="hidden" class="js-six-id" value="{{ i.id }}-t">
                            <textarea class="form-control detail">{{ i.test|default_if_none:"" }}</textarea>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td rowspan="2">{{ forloop.counter }}</td>
                        <td rowspan="2" width="250px">{{ i.discipline }}</td>
                        {% if i.control_type == '0' %}
                            <td>Домашнее задание</td>
                            <td>
                                <input type="hidden" class="js-six-id" value="{{ i.id }}-h">
                                <textarea class="form-control detail">{{ i.homework|default_if_none:"" }}</textarea>
                            </td>
                        {% endif %}
                    </tr>

                    <tr>
                        {% if i.control_type == '1' %}
                            <td>Контрольная работа</td>
                            <td>
                                <input type="hidden" class="js-six-id" value="{{ i.id }}-t">
                                <textarea class="form-control detail">{{ i.test|default_if_none:"" }}</textarea>
                            </td>
                        {% endif %}
                    </tr>

                {% endif %}
            {% endfor %}
            <!-- итоги -->
            <tr>
                <td></td>
                <td>Итоговая форма контроля</td>
                <td>Зачет</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Итоговая форма контроля</td>
                <td>Зачет</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Итоговая форма контроля</td>
                <td>Зачет</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Итоговая форма контроля</td>
                <td>Зачет</td>
                <td></td>
            </tr>

            <!--  -->

            </tbody>
        </table>
        <div class="other">
            <label for="other-area">Прочее</label>
            <textarea name="other-area" class="form-control js-six-other" rows="5">{{ minEdu.six_other|default_if_none:"" }}</textarea>
        </div>

    </div>
</div>
