<legend>5. Образовательные технологии, включая инерактивные формы обучения
</legend>
<div class="edu-tech">
    <textarea name="edu-tech" class="form-control" id="edu-tech-textarea" cols="30" rows="10">{{ minEdu.edu_technology|default_if_none:'' }}</textarea>
</div>
