<div class="add-info">
    <input type="hidden" class="js-add-info-id" value="1">
    <div class="type-self-work">
        <label for="type-self-work">Виды Самостоятельной работы</label>
                                        <textarea name="type_self_work" class="js-selfwork-type form-control"
                                                  rows="3"></textarea>
    </div>
    <div class="hour">
        <label for="hour">Часы</label>
        <input type="number" name="time" class="js-hour form-control">
        <div class="btn-group add-info-btns">
            <button class="btn btn-default new-add-info" type="button"><i
                    class="glyphicon glyphicon-plus"></i></button>
            <button class="btn btn-default remove-add-info" type="button"><i
                    class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
    <div class="control-work">
        <label for="control-work">Формы контроля самостоятельной
            работы</label>
                                        <textarea name="control_form" class="js-control-form form-control"
                                                  rows="3"></textarea>
    </div>
</div>