{% load utils %}
<legend>4. Структура и содержание аудиторной работы по дисциплине/модулю
</legend>
<div class="form-group is-empty">

    <div class="col-md-12 time-info">

        <!--                        div.panel-body>table.table.ralbe-bordered>(thead>(tr>th[rowspan="2"]{Семестр, в котром читается дисциплина}+th[rowspan="2"]{Общая трудоемкость дисциплины(в зачетных единицах)}+th[colspan="4"]{Общая трудовемкость дисциплины(в часах)}+th[rowspan="2"]{Всего часов на сомостоятельную работу}+th[rowspan="2"]{Форма контроля})+(tr>th{Всего}+th{Лекционных часов}+th{практических занятий}+th{лабораторных работ}))+tbody>(tr>td{План (согласно утверженному учебному плану)})+(tr>td{Факт(согласно введенной заполняющим в настоящее время информации)})+(tr>td{Остаток нераспределенных часов})-->
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2">Семестр, в котром читается дисциплина</th>
                    <th rowspan="2">Общая трудоемкость дисциплины(в зачетных единицах)</th>
                    <th colspan="4">Общая трудовемкость дисциплины(в часах)</th>
                    <th rowspan="2">Всего часов на сомостоятельную работу</th>
                    <th rowspan="2">Форма контроля</th>
                </tr>
                <tr>
                    <th>Всего</th>
                    <th>Лекционных часов</th>
                    <th>практических занятий</th>
                    <th>лабораторных работ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>План (согласно утверженному учебному плану)</td>
                </tr>
                <tr>
                    <td>Факт(согласно введенной заполняющим в настоящее время информации)</td>
                </tr>
                <tr>
                    <td>Остаток нераспределенных часов</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
    <div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width="20px" rowspan="2">#</th>
                    <th rowspan="2">
                        Разделы дисциплины <br>
                        Название
                        (не более 4000 символов)
                    </th>
                    <th rowspan="2">Семестр</th>
                    <th rowspan="2">Недели семестра</th>
                    <th colspan="3">Виды и часы аудиторной работы</th>
                    <th rowspan="2">Часы самостоятельной работы</th>
                    <th rowspan="2" width="200px">Текущие формы контроля</th>
                </tr>
                <tr>
                    <th>лекция</th>
                    <th>практическое занятие</th>
                    <th>лабораторное занятие</th>
                </tr>

                </thead>
                <tbody>
                {% if structure_and_content.all|length == 0 %}
                    {% include 'min_obr/forms/point-4_main_blank.html' %}
                {% else %}
                    {% for struct in structure_and_content.all %}
                        <tr class="js-main-row">
                            <input type="hidden" class="js-main-row-id" value="1">
                            <td>
                                <input class="table-num form-control" type="number" value="1" disabled>
                                <button class="form-control remove-row" type="button"><i
                                        class="glyphicon glyphicon-remove"></i></button>
                                <button type="button" class="form-control additionally-info"><i
                                        class="glyphicon glyphicon-pencil"></i></button>
                            </td>
                            <td><textarea class="form-control table-discipline" name="discipline"
                                          rows="4">{{ struct.discipline|default_if_none:'' }}</textarea></td>
                            <td>
                                <select class="form-control table-semester" name="semester">
                                    <option disabled {% get_selection_by_id struct.semester -1 %}></option>
                                    <option value="1" {% get_selection_by_id struct.semester 1 %}>1</option>
                                    <option value="2" {% get_selection_by_id struct.semester 2 %}>2</option>
                                    <option value="3" {% get_selection_by_id struct.semester 3 %}>3</option>
                                    <option value="4" {% get_selection_by_id struct.semester 4 %}>4</option>
                                    <option value="5" {% get_selection_by_id struct.semester 5 %}>5</option>
                                    <option value="6" {% get_selection_by_id struct.semester 6 %}>6</option>
                                    <option value="7" {% get_selection_by_id struct.semester 7 %}>7</option>
                                    <option value="8" {% get_selection_by_id struct.semester 8 %}>8</option>
                                </select>
                            </td>
                            <td><input type="number" class="form-control table-week-semester"
                                       name="week_of_semester" value="{{ struct.week_of_semester|default_if_none:'' }}">
                            </td>
                            <td>0</td>
                            <td><input type="number" class="form-control table-prac-les"
                                       name="practice" value="{{ struct.practice|default_if_none:'' }}"></td>
                            <td>1</td>
                            <td><input type="number" class="form-control table-self-work"
                                       name="self_work" value="{{ struct.self_work|default_if_none:'' }}"></td>
                            <td>
                                <select class="form-control table-form-control" name="control_type">
                                    <option disabled {% get_selection_by_id struct.control_type -1 %}></option>
                                    <option value="0" {% get_selection_by_id struct.control_type 0 %}>Домашнее задание
                                    </option>
                                    <option value="1" {% get_selection_by_id struct.control_type 1 %}>Контрольная работа
                                    </option>
                                    <option value="2" {% get_selection_by_id struct.control_type 2 %}>Домашняя и
                                        контрольная
                                        работа
                                    </option>
                                </select>
                            </td>
                        </tr>

                        <tr style="display: none;" class="js-additional-row">
                            <input type="hidden" class="js-add-row-id" value="1">
                            <td colspan="9">
                                <div class="content">
                                    <div class="sec-cont">
                                        <label for="section-сontents" style="width: 30%;">Содержание раздела
                                            <br>
                                            Развернутое содержание раздела (темы) с указанием дидактических
                                            единиц</label>
                                    <textarea name="content" class="section-сontents form-control"
                                              rows="5">{{ struct.content|default_if_none:'' }}</textarea>
                                    </div>
                                    <br>
                                    {% if struct.selftime_set.all|length == 0 %}
                                        {% include 'min_obr/forms/point-4_add_blank.html' %}
                                    {% else %}
                                        {% for self_time in struct.selftime_set.all %}
                                            <div class="add-info">
                                                <input type="hidden" class="js-add-info-id" value="1">
                                                <div class="type-self-work">
                                                    <label for="type-self-work">Виды Самостоятельной работы</label>
                                        <textarea name="type_self_work" class="js-selfwork-type form-control"
                                                  rows="3">{{ self_time.type_self_work|default_if_none:'' }}</textarea>
                                                </div>
                                                <div class="hour">
                                                    <label for="hour">Часы</label>
                                                    <input type="number" name="time" class="js-hour form-control"
                                                           value="{{ self_time.time|default_if_none:'' }}">
                                                    <div class="btn-group add-info-btns">
                                                        <button class="btn btn-default new-add-info" type="button"><i
                                                                class="glyphicon glyphicon-plus"></i></button>
                                                        <button class="btn btn-default remove-add-info" type="button"><i
                                                                class="glyphicon glyphicon-remove"></i></button>
                                                    </div>
                                                </div>
                                                <div class="control-work">
                                                    <label for="control-work">Формы контроля самостоятельной
                                                        работы</label>
                                        <textarea name="control_form" class="js-control-form form-control"
                                                  rows="3">{{ self_time.control_form|default_if_none:'' }}</textarea>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <button id="add-new-row" type="button" class="form-control col-md-10">Добавить еще</button>
        </div>
    </div>
</div>
