<legend>2. Место дисциплины в структуре основной образовательной программы высшего профессионального
    образования по направлению
    09.03.03 Прикладная информатика
</legend>
<div class="form-group is-empty">

    <div class="col-md-12">
        <textarea class="form-control posistion-disciplines"
                  rows="5">{{ minEdu.posistion_disciplines|default_if_none:"" }}</textarea>
    </div>
</div>
