<legend>7. Литература и ресурсы
</legend>
<div class="literature">
    <div class="main-literature">
        <label for="main-literature">Основная литература</label>
        <textarea name="main_literature" class="form-control" rows="10">{{ minEdu.main_literature|default_if_none:"" }}</textarea>
    </div>
    <div class="additional-literature">
        <label for="additional-literature">Дополнительная литература</label>
        <textarea name="additional_literature" class="form-control"
                  rows="10">{{ minEdu.additional_literature|default_if_none:"" }}</textarea>
    </div>
    <!--ДОДЕЛАТЬ TODO-->
    <div class="interner-resource">
        <label for="interner-resource"><h3>Интернет ресурсы</h3></label>

        <div name="interner-resource">
            <div class="resource-name">
                <label for="name">Наименование интернет ресурса</label>
                <input type="text" class="form-control">
            </div>
            <div class="resource-link">
                <label for="link">Интернет ссылка на ресурс</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
