.table-num {
    width: 43px;
}

.table-discipline {
    width: 215px;
    height: 80px;
}

.table-semester {
    width: 60px;
}

.table-week-semester {
    width: 55px;
}

.table-prac-les {
    width: 80px;
}

.table-self-work {
    width: 80px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.time-info {
    font-size: 5;
}

.section-сontents {
    width: 70%;
    float: right;
}

.type-self-work, .control-work {
    width: 40%;
    display: inline-block;
}

.type-self-work {
    float: left;
}

.control-work {
    float: right;
}

.hour {
    width: 15%;
    display: inline-block;
    margin-left: 2.5%;
}

.add-info {
    margin-top: 9px;
    height: 120px;
}

.sec-cont {
    height: 120px;
}

.main-literature, .additional-literature, .interner-resource {
    margin-bottom: 20px;
}

.resource-name, .resource-link {
    width: 45%;

}

.resource-name {
    float: left;
}

.resource-link {
    float: right;
}

.literature {
    height: 650px;
}

.navigation {
    margin-top: 22px;
    position: fixed;
}

.description > button,
.nav-1 > button,
.nav-2 > button,
.nav-3 > button,
.nav-4 > button,
.nav-5 > button,
.nav-6 > button,
.nav-7 > button,
.nav-8 > button {
    border-radius: 0;
}

.description > button {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-8 > button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.block-3,
.block-4,
.block-5,
.block-7,
.block-8 {
    display: none;
}

.js-additional-row {
    border-bottom: 2px solid black;
    display: table-row;
}

.add-info-btns{
    width: 100%;
    margin-top: 7px;
}

.add-info-btns > .btn-default{
    width: 50%;
}