{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>{% block page_title %}{% endblock %}</title>

  {% block meta %}
  {% endblock %}

  {% block cdn_css %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock cdn_css %}

  {% block css %}
  {% endblock %}


</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>
{% block body %}
  <header>
    {% block header %}
    {% endblock %}
  </header>

  <div role="main">
    {% block content %}
    {% endblock %}
  </div>

  <footer>
    {% block footer %}
    {% endblock footer %}
  </footer>


  {% block cdn_js %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock cdn_js %}

  {% block js %}
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock js %}

{% endblock %}
</body>
</html>
