{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dev/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/dev/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/vendors/form-helpers/css/bootstrap-formhelpers.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/vendors/select/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/vendors/tags/css/bootstrap-tags.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}
</head>
<body>

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="#"></a></h1>
                </div>
            </div>

            <div class="col-md-2 pull-right">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu animated fadeInUp">
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div role="main">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

<script type="text/javascript" src="{% static 'js/jquery-cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajaxFormSender.js' %}"></script>

{% block js %}
{% endblock js %}
</body>
</html>
